.Green{
    --opaque: #00CC00;
    --transprent: #00CC001A;
}
.Red{
    --opaque: #EE0000;
    --transprent: #EE00001A;
}
.Orange{
    --opaque: #ff8e4d;
    --transprent: rgba(255, 142, 77, 0.75);
}
.Black{
    --opaque: #00000000;
    --transprent: #00000000;
}

.R{
    --size: 7px;

    background: linear-gradient(var(--angle), var(--background) calc(100% - var(--size)), var(--foreground) var(--size));
    background-clip: padding-box;

    font-weight: bold;
    padding-inline: 10px;
    text-align: center;
    font-size:10pt;
    border: solid 1px black;

    --angle: 45deg;
    --foreground: #00000000;
    --background: #00000000;
    
    --foreground: var(--opaque);
}