body{
    width: 350px;
    background-color: #f8e7a1;
}

table{
    width: 100%;
    margin-block: 3%;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: rgb(250, 250, 250);
}

thead{
    height: 50px;
}

td{
    height: 30px;
    border: 1px solid black;
}
td, th{
    text-align: center;
    margin: auto;
    font-weight: 700;
    width: auto;
}
.full{
    background: #fff7d4;
}

.Icon{
    margin-inline: 20px;
    height: 30px;
}
#reloadButton{
    cursor: pointer;
    border: #00000000 solid 0px;
    display: inline;
    background: transparent;
    outline: none;

    float: right;
}

.timestamp.Hidden{
    display: none;
}
.timestamp.Green::before{
    content: '✓ ';
    font-weight: bold;
    font-size: medium;
    color: green;
}
.timestamp.Orange::before{
    content: '〜 ';
    font-weight: bold;
    font-size: medium;
    color: orange;
}
.timestamp.Red::before{
    content: '❌';
    color: red;
}