body{
    width: 350px;
    background-color: #f8e7a1;
}

h1{
    font-weight: 600;
}

form{
    margin-block: 10px;
}

label{
    font-family: Arial;
    font-size: 1.1rem;
    line-height: 1.2;
}

.Icon{
    margin-inline: 20px;
    height: 30px;
}